.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  font-size: 8px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 740));
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 768px) / 1024));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 1000px) / 1850));
  }

  
}

.MuiBox-root {
  width: 19%;
float: left;
height: calc((100vh - 3rem)/5);
margin: 0.5%;
}

.MuiGrid-container.MuiBox-root .MuiBox-root:first-child{
  display: inline-block !important;
  width: 100% !important;
}
#gameContainer .MuiBox-root:first-child{
  display: inline-block !important;
  width: 100% !important;
}